@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cairo:wght@200..1000&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Tajawal:wght@200;300;400;500;700;800;900&display=swap');

@import "tailwindcss";

@theme {
    /* colors */
    --color-primary: #052A3D;
    --color-secondary: #117192;
    --color-accent: #19D1E6;
    /* --color-accent1 : #00C9EA; */
    --color-text: #614943;
    --color-back: #B3CDD7;
    --color-back2: #bcd1da;
    --color-light-gray: #dedede;
    --color-dark-gray: #777;
    --color-text-gray: #5e6d77;

    /* fonts */
    --font-cairo: Cairo, "sans-serif";
    --font-nunito: Nunito, "sans-serif";
    --font-tajawal: Tajawal, "sans-serif";
    --font-bebas_neue: Bebas Neue, "sans-serif";

    /* shadows */
    --inset-shadow-md: inset 0 0px 10px rgba(0, 0, 0, 0.2);
}

.title {
    @apply text-xl md:text-3xl text-primary font-bold font-nunito;
}

@keyframes softPing {
  0% { transform: scale(1); opacity: 0.6; }
  70% { transform: scale(1.8); opacity: 0; }
  100% { transform: scale(1.8); opacity: 0; }
}

.soft-ping {
  animation: softPing 2.5s ease-out infinite;
}

@keyframes glow {
  0%, 100% {
    opacity: 0.3;
  }
  50% {
    opacity: 0.7;
  }
}

.glow {
  animation: glow 2.5s ease-in-out infinite;
}


/* ربط الخط */
.react-datepicker {
  font-family: var(--font-nunito) !important;
  border: none !important;
  border-radius: 10px !important;
  overflow: hidden;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1) !important;
}

/* الهيدر */
.react-datepicker__header {
  background-color: var(--color-primary) !important;
  border-bottom: none;
}

.react-datepicker__current-month {
  color: white !important;
}

.react-datepicker__day-name {
  color: var(--color-text-gray) !important;
}

/* الأسهم */
.react-datepicker__navigation-icon::before {
  border-color: white !important; 
}

/* الأيام */
.react-datepicker__day {
  border-radius: 10px !important;
  transition: all 0.2s ease !important;
}

/* hover */
.react-datepicker__day:hover {
  background-color: var(--color-back) !important;
  color: var(--color-secondary) !important;
}

/* اليوم الحالي */
.react-datepicker__day--today {
  border: 1px solid var(--color-accent) !important;
  background-color: transparent !important;
  color: var(--color-primary) !important;
  font-weight: bold !important;
}

/* اليوم المختار */
.react-datepicker__day--selected {
  background-color: var(--color-accent) !important;
  color: white !important;
}

/* عند اختيار range (لو استخدمت) */
.react-datepicker__day--in-range {
  background-color: var(--color-back) !important;
  color: var(--color-secondary) !important;
}
