@import "tailwindcss";

body {
    font-family: Nunito;
}

.link::after {
    position: absolute;
    content: "";
    inset: 0;
    background-color: #f54900;
    scale: 1 0;
    z-index: -1;
    transition: 0.45s;
    border-radius: 10px;
}

.link[aria-current="page"] {
    color: white;
}

.link[aria-current="page"]::after,
.link:hover::after {
    scale: 1 1;
}

/* place card info */
.place-info {
    background-color: #00000081;
    cursor: pointer;
    transition: all 0.5s;
}

.place-info:hover {
    background-color: #00000048;
}


/* login form input and label */

.input-box input:focus~label,
.input-box input:valid~label {
    top: -5px;
}


.select-box select ,::picker(select) {
    appearance: base-select;
    border: none;
    
}

::picker(select) {
     border-radius: 6px;
    background-color: #bdbdbd;
}

.select-box select {
    color:white;
}

selectedcontent {
    font-size: 16px;
}
selectedcontent , option {
    display: flex;
    align-items: center;
    padding-left: 4px; 
}

option {
    padding-block: 0.25rem;
    transition: all 0.5s;
    padding-right: 4px;
}

option:hover {
    background-color: #e06f3e8c;
    color:white;
}

.option-user {
    color: #333;

}

option::checkmark {
    display: none;
}

option:checked {
    @apply text-orange-600 bg-[#da744856];
}

